@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #Ecf0f9;
}
/* header */
.header-container{
    display: flex;
    justify-content: space-evenly;
}

.header-container h1{
    font-size: 80px;
    color: #e9be3e;
}
.header-container p {
    color: #004888;
}
.btn-month{
    border: none;
    padding: 4rem 0.8rem 0;

    color: #b1b1b1;
    background: #ffffff;
    cursor: pointer;
}
.btn-month:hover{
    
    background-color:#004888;
    color: #e9be3e;
    transition: 0.5s;

}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.0rem;
}
/* section */
.block-section{
    display: flex;
    gap: 1.0rem;
}
.block-section span{
    padding: 0.5rem 4.0rem;
    border-radius: 0px 20px 20px 0px;
    background: #ffffff;
    border: 1px solid #ffffff;
}
.block-section p{
    font-size: 18px;
    color: #e9be3e;
}
/* Datas do Mês */
.datas-month{

    margin: 2.0rem;
    display: flex;
    flex-direction: row;
    
}


/* 
.txtTitulo{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    color: #004888;
}

.txtConteudo{
    display: flex;
    flex-direction: row;
    gap: 2.0rem;
}
.txtParag{
    color: #575757;
    font-size: 15px;
}
.txtComent{
    color: #575757;
    font-size: 12px;
} */