/* reset */
*,
*::before,
*::after { box-sizing: border-box; }

svg { fill: currentColor; }

a {
    text-decoration: none;
}
/* reset */

/* Helpers */
.visually-hidden {
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    white-space:nowrap;
    width:1px;
}
.visually-hidden:focus {
    clip:auto;
    height:auto;
    margin:0;
    overflow:visible;
    position:absolute;
    top:1rem;
    left:1rem;
    width:auto;
}
/* Helpers */

/* Default */
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #000000;
}

body{
    font-family: 'Roboto', Tahoma, 'DejaVu Sans', sans-serif;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    line-height: 1.5;
    color: #575757;
    background-color: #ecf0f9;
}

.container {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: 0 auto;
}
/* Default */

/* header section */
.c-title-page {
    color: #e9be3e;
    font-weight: 900;
    line-height: 1;
    display: flex;
    flex-flow: column-reverse;
    align-self: flex-end;
}
.c-title-page__num { font-size: 4.5rem; }
.c-title-page__txt {
    color: #004888;
    font-size: .78rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.c-cta {
    display: block;
    border-radius: 50px;
    width: 180px;
    height: 48px;
    background-color: #fff;

}

.navbar { align-self: flex-end; }
.navbar ul { display: flex; }
.navbar li:not(:last-child) { margin-right: 1px; }

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-month {
    display: block;
    color: #b1b1b1;
    text-transform: uppercase;
    font-weight: 700;
    padding: 4rem 1rem 0.5rem;
    background-color: #fff;
}
.btn-month:hover {
    color: #e9be3e;
    background-color: #004888;
    transition: 0.3s;
}
.btn-month.active {
    color: #e9be3e;
    background-color: #004888;
    box-shadow: 0 6px 0 #004888;
}
/* header section */


main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.0rem;
}
/* section */
.block-section{
    display: flex;
    gap: 1.0rem;
}
.block-section span{
    padding: 0.5rem 4.0rem;
    border-radius: 0px 20px 20px 0px;
    background: #ffffff;
    border: 1px solid #ffffff;
}
.block-section p{
    font-size: 18px;
    color: #e9be3e;
}
/* Datas do Mês */
.datas-month{

    margin: 2.0rem;
    display: flex;
    flex-direction: row;
    
}


/* 
.txtTitulo{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    color: #004888;
}

.txtConteudo{
    display: flex;
    flex-direction: row;
    gap: 2.0rem;
}
.txtParag{
    color: #575757;
    font-size: 15px;
}
.txtComent{
    color: #575757;
    font-size: 12px;
} */
